<header class="header">
    <div class="container">
        <a href="index.html">
            <div class="header_logo">
                <img src="assets/images/angular.svg" alt="logo">
                <span>Landing<strong>Angular</strong>  </span>
            </div>
        </a>            <nav class="header_navbar">
            <ul>
                <li><a href="index.html">Inicio</a></li>
                <li><a href="article.html">Blog</a></li>
                <li><a href="formulario.html">Formulario</a></li>
                <li><a href="../React/index.html">React</a></li>
                <li><a href="../Vue/index.html">Vue</a></li>
            </ul>
        </nav>
    </div>
</header>