<app-slider [nombre]="'Peliculas'" [size]="'small'"></app-slider>
<div class="hero">
  <div class="container">
    <section class="hero_articulos">
      <h1 class="subheader">{{ titulo }}</h1>

      <div id="favorita" *ngIf="favorita">
        <h2>Pelicula Favorita</h2>
        <h4>
          {{ favorita.title }}
        </h4>
        <h5>{{favorita.year}}</h5>
      </div>

      <section class="hero_articulos" *ngIf="peliculas">
        <div *ngFor="let pelicula of peliculas; let i = index">
          <app-pelicula-detalle [pelicula]="pelicula"  [i]="i" 
          (MarcarFavoritaEvent)="mostrarFavorita($event)"></app-pelicula-detalle>
        </div>

      </section>

      <div *ngIf="peliculas.length <= 3">
        <p>Hay pocas peliculas, solo tenemos {{ peliculas.length }}</p>
      </div>
    </section>
    <app-sidebar></app-sidebar>
  </div>
</div>